<ul class="nav nav-tabs" role="tablist">
<li class="active"><%= link_to 'View all Books', lib_books_path(@lib) %></li>
  <li><%= link_to 'New Books', new_lib_book_path %></li>
</ul>


<div class='back1'>


<h1 class='test'>Listing Books</h1>


 <%= link_to 'New Books', new_lib_book_path,class: 'btn btn-success' %>
 <div style="background-color: grey">
<table class='table table-hover table-bordered table-striped'>
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
 
  <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.author %></td>
    <td> <%= link_to 'Edit', edit_lib_book_path(@lib,book),class: 'btn btn-info btn-xs' %></td>
    
    
    <td> <%= link_to 'Show', lib_book_path(@lib,book),class: 'btn btn-primary btn-xs' %></td>
  
    
    <td> <%= link_to 'Delete', lib_book_path(@lib,book),
        method: :delete ,
        data: {confirm: 'Are  you sure?'}, class: 'btn btn-danger btn-xs' %></td>


    </tr>
  <% end %>
  <%= link_to 'Back', libs_path %>
</table>
</div>
</div>