<h1> Editing Articles </h1>

<%= form_for :book , url: book_path(@book),method: :patch  do |f| %>

<table>
	<tr>
		<td><%= f.label :Name %></td>
		<td><%= f.text_field :name %></td>
	</tr>

	<tr>
		<td><%= f.label :author %></td>
		<td><%= f.text_field :author %></td>
	</tr>

	<tr>
		<td><%= f.label :category %></td>
		<td><%= f.select :category, [['Drama','drama'],['Romance','romance'],['Thriller','thriller']] %></td>
	</tr>

	<tr>
		<td><%= f.label :version %></td>
		<td><%= f.text_field :version %></td>
	</tr>

	<tr>
		<td><%= f.label :publishedDate %></td>
		<td><%= f.date_field :publishedDate %> </td>
	</tr>

	<tr>
		<td><%= f.label :typeofBook %></td>
		<td><%= f.label :typeofBook,"Paperback", :value=>"Paperback" %>
			<%= f.radio_button :typeofBook,"Paperback" %>
		</td>
		<td><%= f.label :typeofBook,"Hardback", :value=>"Hardback" %>
			<%= f.radio_button :typeofBook, "Hardback", :checked =>true %>
		</td>
	</tr>

	<tr>
		<td><%= f.label :quantity %></td>
		<td><%= f.text_field :quantity %></td>
	</tr>

	<tr> <td><%= f.submit %></td>
	</tr>

</table>
<% end %>	

<%= link_to 'Back', root_path %>