<table>

<tr>
	<td>
	<strong>Name : </strong>
	<%= @book.name %>
	</td>
</tr>
 

<tr>
	<td>
	<strong>Author : </strong>
	<%= @book.author %>
	</td>
</tr>

<tr>
	<td>
	<strong>Category: </strong>
	<%= @book.category %>
	</td>
</tr>

<tr>
	<td>
	<strong>Version : </strong>
	<%= @book.version %>
	</td>
</tr>

<tr>
	<td>
	<strong>Published Date : </strong>
	<%= @book.publishedDate %>
	</td>
</tr>

<tr>
	<td>
	<strong>Type of Book : </strong>
	<%= @book.typeofBook %>
	</td>
</tr>

<tr>
	<td>
	<strong>Quantity : </strong>
	<%= @book.quantity %>
	</td>
</tr>

<%= link_to 'Back',root_path %>

</table>